---
layout: default
title: Luís Moreira de Sousa
---

	<h1>Luís Moreira de Sousa</h1>
	
	<h3>Introduction</h3>

    Professionally, I exist at the interface between computer science and geography. Some would call it GIS, but I gather the term GeoInformatics captures this domain much better. I have worked on spatial simulation, global mapping, decision support, routing, but I am possibly best known for working with hexagons. And I only use and develop  open source tools. 
	<br>
	<br>
    Use the menu above for details on each of the topics.
	
	<h3>Digital Networks</h3>

    <a href=https://mastodon.social/@luis_de_sousa>Mastodon</a> is where I am easier to find and where a host of miscellany gets posted. If you are only interested in my professional activity, I keep a more focused account at <a href=https://twitter.com/luis_m_de_sousa>Twitter</a>.

	Longer list of digital networks where you may find me:
	<br>
	<ul>
	<li><b><a href=https://www.researchgate.net/profile/Luis_De_Sousa4>Research Gate</a></b></li>
	<li><b><a href=https://scholar.google.lu/citations?user=nQpZSTYAAAAJ>Google Scholar</a></b></li>
	<li><b><a href=http://lu.linkedin.com/pub/lu%C3%ADs-de-sousa/0/27a/5b4>LinkedIn</a></b></li>
	<li><b><a href=https://stackexchange.com/users/989007/lu%c3%ads-de-sousa?tab=reputation>StackExchange</a></b></li>
	<li><b><a href=https://codeberg.org/ldesousa>Codeberg</a></b></li>
	<li><b><a href=https://mastodon.social/@luis_de_sousa>Mastodon</a></b></li>
	<li><b><a href=https://twitter.com/luis_m_de_sousa>Twitter</a></b></li>
	</ul>
	
	
	<br><br>
<!-- /.blurb -->
