<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="refresh" content="0; url='https://ldesousa.codeberg.page'" />

    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
  
  <section class="container">
  <div class="side">
  	   <img src="https://ldesousa.gitlab.io/images/Schlassgoart.png" width=100%>
  	   <br>
  	   <img src="https://ldesousa.gitlab.io/images/side.png" width=100%>
  </div>
  
  <div class="content">
      <nav>
		<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/hexagons">Hexagons</a></li>
		<li><a href="/spa-sim">Spatial Simulation</a></li>
		<li><a href="/global-map">Global Mapping</a></li>
		<li><a href="/foss4g">FOSS4G</a></li>
		<li><a href="/other">Other interests</a></li>
		</ul>
    </nav>

  {{ content }}

  </div>
  
  <br>
  <footer>
   <ul>
   <li><a href="mailto:luis.de.sousa@protonmail.ch">email</a></li>
   <li><a href="https://codeberg.org/ldesousa">codeberg.org/ldesousa</a></li>
   </ul>
  </footer>
  
  

</section>  

</body>

</html>
